@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flipIn {
  0% {
    opacity: 0;
    transform: skew(40deg) translate(200px, -100px);
  }
  100% {
    opacity: 1;
    transform: skew(0) translate(0, 0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes heroSlideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: skewY(-5deg) translateY(-50%);
  }
}

@keyframes sectionsSlideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-20px);
  }
}