.hero-image {
  height: 400px;
}

.hero-image:after {
  animation: 1s heroSlideInFromTop;

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 400px;
  background: rgb(32, 238, 175);
  background: radial-gradient(
    circle at top left,
    rgba(32, 238, 175, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
  transform: skewY(-5deg) translateY(-50%);
  height: 1200px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.hero-logo {
  animation: 2s fadeIn;

  width: 200px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
}

.hero-title {
  animation: 2s fadeIn;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: white;
  position: relative;
  left: 300px;
  transform: translateY(-100%);
  margin: 0;
  width: calc(100% - 400px);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.hero-subtitle {
  animation: 2s fadeIn;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  position: relative;
  left: 300px;
  transform: translateY(-100%);
  margin: 0;
  width: calc(100% - 400px);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
