.hero-image {
  height: 400px;
  background: rgb(32, 238, 175);
  background: radial-gradient(
    circle at top left,
    rgba(32, 238, 175, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
}

.hero-logo {
  width: 200px;
  border-radius: 10%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: white;
  position: relative;
  left: 280px;
  transform: translateY(-100%);
  margin: 0;
  width: calc(100% - 400px);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.hero-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  position: relative;
  left: 280px;
  transform: translateY(-100%);
  margin: 0;
  width: calc(100% - 400px);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}